/logs/result.txt
/logs/result2.txt
/gridsearch_best_results.csv
/calculations/int_fac.mw
/discarded/demo.py
/discarded/demo_vote.py
/discarded/general.py
/discarded/vote_161.py
/discarded/vote_945.py
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/Quantized-Integer-Factorization.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/utils.cpython-313.pyc
.vscode/settings.json
/gridsearch_best_results2.csv
/gridsearch_best_results3_ttfh.csv
